{{define "test"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FORBES</title>
    <head>
        <link href="../hb-server/static/css/test.css" rel="stylesheet" type="text/css">
        <script src="http://localhost:8080/home/FRB001" type="text/javascript"></script>
    </head>

</head>
<body>

<iframe id="iframe_1"></iframe>
<iframe id="iframe_2"></iframe>

<h2>FORBES</h2>
<p>Always updated.</p>

<div class="header">
    <h2>Content</h2>
</div>

<div class="row">
    <div class="column" style="background-color:#aaa;">Sports</div>
    <div class="column" style="background-color:#bbb;">News</div>
</div>

<div class="footer">
    <p>About</p>
</div>

</body>
</html>
{{end}}